@model chabelly.Model.categoria

@{
    ViewBag.Title = Model.id.Equals(0) ? "Nova Categoria" : "Editar categoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<chabelly.Model.categoria> categorias = (List<chabelly.Model.categoria>)@ViewBag.categorias;
}


<div class="row">
    <div class="col-md-12">
        <div class="portlet box dark">
            <div class="portlet-title">
                <div class="caption">
                    @if (Model.id.Equals(0))
                    {
                        @:Cadastrar Nova Categoria
                            }
                    else
                    {
                        @:Alterar Categoria
                            }
                </div>
            </div>

            <div class="portlet-body form">

                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)


                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>
                                    <label class="control-label">Dados Cadastrais:</label>
                                </h4>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group inline">
                                    <label class="control-label">Nome:</label>
                                    <div>
                                        @Html.TextBoxFor(x => x.nome, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group inline">
                                    <label class="control-label">Categoria Pai:</label>
                                    <div>
                                        @Html.DropDownListFor(x => x.categoria_pai, new SelectList(categorias.Select(x => new {x.id, x.nome }),"id","nome") ,"Selecione" ,new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions right">
                        <a href="/Categoria" class="btn yellow"><i class="icon-arrow-left"></i>&nbsp;Voltar</a>
                        @if (Model.data_desativacao == null)
                        {
                            <button type="button" class="btn red" id="desativar" data-categoriaId="@Model.id"><i class="icon-trash"></i>&nbsp;&nbsp;Desativar</button>
                        }
                        else
                        {
                            <button type="button" class="btn green-dark" id="ativar" data-categoriaId="@Model.id" ><i class="icon-tag"></i>&nbsp;&nbsp;Ativar</button>
                        }
                        <button type="submit" class="btn blue-chambray" id="salvar"><i class="icon-check"></i>&nbsp;&nbsp;Salvar</button>

                    </div>
                                                            }
            </div>
        </div>
    </div>
</div>

@section footer {

    <script type="text/javascript">

        $('#ativar').on('click', function () {
            var categoriaId = $(this).attr('data-categoriaId');
            var grupoId =@Model.id;
            $.ajax({
                type: 'POST',
                url: '/Categoria/AtivarCategoria',
                data: { categoriaId: categoriaId},
                beforeSend: function (xhr, opts) {
                    $(".spinner-temps").show();
                },
                success: function (retorno) {
                    $(".spinner-temps").hide();
                    if (retorno.status) {
                        toastr.success(retorno.message, "Categoria");
                        window.location.reload();
                    } else {
                        toastr.error(retorno.message, "Categoria");
                    }
                },
                error: function (e) {
                    toastr.error(e, "Categoria");
                }
            });
        });

        $('#desativar').on('click', function () {
            var categoriaId = $(this).attr('data-categoriaId');
            var grupoId =@Model.id;
            $.ajax({
                type: 'POST',
                url: '/Categoria/DesativarCategoria',
                data: { categoriaId: categoriaId},
                beforeSend: function (xhr, opts) {
                    $(".spinner-temps").show();
                },
                success: function (retorno) {
                    $(".spinner-temps").hide();
                    if (retorno.status) {
                        toastr.success(retorno.message, "Categoria");
                        window.location.reload();
                    } else {
                        toastr.error(retorno.message, "Categoria");
                    }
                },
                error: function (e) {
                    toastr.error(e, "Categoria");
                }
            });
        });


    </script>


}
